@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&family=Comfortaa:wght@300;400;500;600;700&family=Comforter&family=Lato:wght@100;300;400;700;900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.card-container {
  background-color: rgb(44, 208, 208);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border: 2px solid rgb(37, 173, 173);
}

.heading {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 5px;
  margin: 0px 5px;
}

/* .sub-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px 5px;
  margin: 0px 5px;
}

.offer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right:5px;
  margin-right:5px;
} */

/* .offer-info > div {
  background-color: antiquewhite;
} */